.jumbotron{
   background-color: #cccccc;
   height: auto;
}

.icon-link{
  height: 24px;
  width: 24px;
}

.profile-pic{
  box-shadow: 3px 3px;
  border:1px solid #ced9eb;
  height: 15vw;
  /* width: 15vw; */
  border-radius: 50%;
}
