<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-8">
        <h1 class="display-4">Javier Ortiz</h1>
        <p class="lead">Student | Software Engineer</p>
        <hr class="my-4">
        <a class="btn btn-primary btn-lg" href="/about" role="button">Learn more about me!</a>
        <a (click)="showResume()" class="btn btn-warning btn-lg" role="button" id="resume-btn"><img class="icon-resume" src="..\..\assets\icons\file-regular.svg"/>See my Resume</a>

        <div class="float-right">
          <a class="btn" role="button" href="https://github.com/jaortiz117"> <img class="icon-link" src="..\..\assets\icons\github.svg" /></a>
          <a class="btn" role="button" href="https://www.linkedin.com/in/javier-ortiz-614337172/"><img class="icon-link" src="..\..\assets\icons\linkedin.svg" /></a>
          <a class="btn" role="button" href="https://twitter.com/OGJaviJavs"><img class="icon-link" src="..\..\assets\icons\twitter.svg" /></a>
          <a class="btn" role="button" href="mailto:jaortiz117@gmail.com"> <img class="icon-link" src="..\..\assets\icons\gmail.svg" /></a>
        </div>
      </div>
      <div class="col-4">
        <img class="profile-pic float-right" src="..\..\assets\profile-pic.jpg" />
      </div>
    </div>
  </div>
</div>
<ng-container *ngIf="show">
  <div id="popup">
    <a (click)="hideResume()" class="btn btn-secondary" id="resume-close-btn" role="button">Close Resume</a>
    <app-resume-popup></app-resume-popup>
  </div>
</ng-container>
