<div class="jumbotron">
  <div class="container">
    <h1 class="display-4">Javier Ortiz</h1>
    <p class="lead">Student | Software Engineer</p>
    <hr class="my-4">
    <a class="btn" href="https://github.com/jaortiz117"> test</a>
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
  </div>
</div>
<!-- TODO change button and banner -->
<div>
  <!-- these components are inside the banner -->
  <p>
    Picture
    Name
  </p>
  <ul>
    <li>link to profile card (containing links to other sites)</li>
    <li>link to contact</li>
    <li>link to resume</li>
  </ul>
</div>
