.jumbotron{
   background-color: #cccccc;
}

.icon-link{
  height: 24px;
  width: 24px;
}

.profile-pic{
  border-radius: 50%;
  box-shadow: 3px 3px;
  border:1px solid #ced9eb;
  height: 18vw;
  width: 19vw;
}
