<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-8">
        <h1 class="display-4">About me.</h1>
        <hr class="my-4">
        <div class="bio-btn">
          <button (click)="showBio()" class="btn btn-primary" type="button">
            Read my bio
          </button>
        </div>
        <ng-container *ngIf="show">
          <div class="bio">
            <p class="card card-body">
              {{content.bio}}
            </p>
          </div>
        </ng-container>
        <br />
        <a class="btn btn-primary" href="/portfolio" role="button">See my projects</a>
      </div>
      <div class="col-4">
        <img class="avatar float-right" src="..\..\assets\about-me-pic.jpg" />
      </div>
    </div>
  </div>
</div>
<div class="page-content">
  <div id="experience">
    <h2>Work and Project Experience</h2>
    <p>Click on each to learn more.</p>
    <div class="container">
      <div class="row justify-content-center">
        <div *ngFor="let experience of content.experience; index as i" class="col">
          <div class="card bg-light" style="width: 20rem;">
            <img (click)="toggleCard(i)" class="card-img-top card-logo"  src="{{experience.logo}}" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">{{experience.employer}}</h5>
              <ng-container *ngIf="toggleShow[i]">
                <ul class="card-text list-group list-group-flush">
                  <li class="list-group-item">{{experience.city}}, {{experience.state}}</li>
                  <li class="list-group-item">Role: {{experience.role}}</li>
                  <li class="list-group-item">Start date: {{experience.fromDate}}</li>
                  <li class="list-group-item">End date: {{experience.toDate}}</li>
                  <li class="list-group-item">{{experience.description}}</li>
                </ul>
              </ng-container>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="education">
    <h2>Education</h2>
    <div class="container">
      <!-- if education list grows use ngFor -->
      <div class="row justify-content-center">
        <div class="col">
          <div class="card bg-light" style="width: 20rem;">
            <img class="card-img-top card-logo"  src="{{content.education[0].logo}}" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">{{content.education[0].university}}</h5>
              <ul class="card-text list-group list-group-flush">
                <li class="list-group-item">{{content.education[0].location}}</li>
                <li class="list-group-item">Major: {{content.education[0].major}}</li>
                <li class="list-group-item">Minor: {{content.education[0].minor}}</li>
                <li class="list-group-item">GPA: {{content.education[0].gpa}}</li>
                <li class="list-group-item">Graduation date: {{content.education[0].graduation}}</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="skills">
    <h2>Skills</h2>
    <div class="container">
      <h4>Languages</h4>
      <div class="row skill-row text-center">
        <div *ngFor="let lang of content.skills.languages" id="languages" class="skills-col col">
          <div class="card bg-light" style="width: 10rem;">
            <a class="card-img-top skill-link" href="{{lang.link}}"><img class="card-logo-skill" src="{{lang.logo}}" alt="Card image cap"></a>
            <div class="card-body">
              <h5 class="card-title skill-title">{{lang.name}}</h5>
            </div>
          </div>
        </div>
      </div>
      <h4>Frameworks</h4>
      <div class="row skill-row text-center">
        <div *ngFor="let fram of content.skills.frameworks" id="languages" class="skills-col col">
          <div class="card bg-light" style="width: 10rem;">
            <a class="card-img-top skill-link" href="{{fram.link}}"><img class="card-logo-skill" src="{{fram.logo}}" alt="Card image cap"></a>
            <div class="card-body">
              <h5 class="card-title skill-title">{{fram.name}}</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div>
    <ul>
      On separate Routes
      <li>
        Interests and Extracurriculars
      </li>
      <li>
        Awards and recognitions (in portfolio section)
      </li>
    </ul>
  </div>
</div>
