<div class="jumbotron">
  <h1 class="display-4">Header</h1>
  <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
  <hr class="my-4">
  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
  <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
</div>
<div>
  <h3>
    About me (all is fed from json)
  </h3>
</div>
<div>
  <h4>
    Experience,
    Skills (show like a carousel of logos)(also add link on bottom of carousel to see examples [links to my repos]),
    Education
  </h4>
  <ul>
    On separate Routes
    <li>
      Interests and Extracurriculars
    </li>
    <li>
      Awards and recognitions (in portfolio section)
    </li>
  </ul>
</div>
