<!-- preliminary template, to be replaced with individual components in due time -->
<div>
  <h1>
    Navbar
  </h1>
</div>
<div>
  <h2>
    banner
  </h2>
  <!-- these components are inside the banner -->
  <p>
    Picture
    Name
  </p>
  <ul>
    <li>link to profile card (containing links to other sites)</li>
    <li>link to contact</li>
    <li>link to resume</li>
  </ul>
</div>
<div>
  <h3>
    About me
  </h3>
</div>
<div>
  <h4>
    Education,
    Experience,
    Skills
  </h4>
  (maybe on different route)
</div>
<div>
  <h5>
    Portfolio section
  </h5>
  this section is on different route (accesible through navbar)
  <p>
    include projects in cards, similar to https://ritwickdey.github.io/#!/portfolio
  </p>
</div>

<router-outlet></router-outlet>
