/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

body {
 background-image: url("./assets/ai-artificial-intelligence-blur-546819.jpg");
 color: #cccccc;
 /* background-image: linear-gradient(to bottom right, white, #7abdd5); */
 margin-left: 10%;
 margin-right: 10%;
}

.jumbotron{
   background-color: #cccccc;
   height: auto;
   /* margin-left: 10%;
   margin-right: 10%; */
   color:black;
}

.page-content{
  background-color: #393f4d;
  padding: 4rem 2rem;
  height: 100%;
}
